*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
*::before,
*::after {
  display: inline-block;
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 1;
  color: #121212;
  background-color: #fff;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cal Sans";
  src: url("../../fonts/CalSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 24px 0;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
@media (min-width: 768px) {
  .header {
    padding: 34px 0;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 62px 0;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  z-index: 1;
}

.logo__icon {
  fill: #ff6428;
}

.logo__text {
  font-family: "Cal Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #121212;
}

@media (min-width: 768px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
  }
  .menu__link {
    position: relative;
    font-weight: 500;
    font-size: 20px;
    color: rgba(18, 18, 18, 0.4);
    -webkit-transition: color 0.4s linear;
    transition: color 0.4s linear;
  }
  .menu__link:hover, .menu__link:focus {
    color: rgba(18, 18, 18, 0.8);
  }
  .menu__link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: rgba(18, 18, 18, 0.8);
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
  }
  .menu__link:hover::after,
  .menu__link:focus::after {
    width: 100%;
    left: 0;
  }
}
.icon-menu {
  display: none;
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #121212;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 1px);
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 1px);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #868686;
    left: -100%;
    top: 0;
    padding: 137px 15px 30px 15px;
    overflow: auto;
    -webkit-transition: left 0.3s linear;
    transition: left 0.3s linear;
  }
  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    height: 137px;
    background: #868686;
    z-index: 2;
  }
  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .menu__link {
    font-weight: 500;
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */