.footer {
  background-color: $colorBgFooter;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__content {
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .footer__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.footer__logo-box {
  max-width: 250px;
  margin: 0 auto 34px;
}

@media (min-width: 768px) {
  .footer__logo-box {
    margin: 0;
  }
}

.footer__logo-box > .logo {
  margin-bottom: 28px;
  width: 202px;
}

.footer__logo-box .logo__text {
  font-size: 40px;
}

.address__item {
  margin-bottom: 20px;
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__link {
  display: flex;
  align-items: center;
  gap: 20px;
  color: $colorText;
  fill: $colorText;
}

.footer__pages {
  margin-bottom: 24px;
}

.footer__pages-title {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: $colorPrimary;
  text-align: center;
  margin-bottom: 20px;
}

.footer__pages-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__pages-link {
  font-size: 16px;
  color: rgba(18, 18, 18, 0.6);
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.social__icon {
  fill: rgba(18, 18, 18, 0.6);
}

.footer__text {
  font-size: 16px;
  line-height: 160%;
  color: rgba(18, 18, 18, 0.6);
  text-align: center;
}
