.footer {
  background-color: $colorBgFooter;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__logo-box > .logo {
  margin-bottom: 28px;
}

.address__item {
  margin-bottom: 20px;
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__link {
  display: flex;
  align-items: center;
  gap: 20px;
  color: $colorText;
  fill: $colorText;
}

