.hero {
  padding-top: 70px;
  padding-bottom: 50px;
  margin: 0 auto;
  // background-image: url('../../images/hero/hero-img.webp');
  // background-repeat: no-repeat;
  // background-position: 50% 100%;
  // background-size: 320px;

  @media (min-width: 768px) {
    padding-top: 150px;
    padding-bottom: 50px;
    // background-position: 100% 80%;
    // background-size: 475px;
  }

  @media (min-width: 1200px) {
    padding-top: 235px;
    padding-bottom: 120px;
    // background-size: 672px;
  }
}

@media (min-width: 768px) {
  .hero__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.hero__title {
  font-family: $secondFamily;
  font-weight: 600;
  font-size: 45px;
  max-width: 370px;
  color: $colorPrimary;
  margin: 0 auto 16px;

  @media (min-width: 768px) {
    max-width: 376px;
    margin: 0 0 20px;
  }

  @media (min-width: 1200px) {
    font-size: 56px;
    max-width: 469px;
    margin-bottom: 16px;
  }
}

.hero__title span {
  color: $colorTitleOrange;
}

.hero__text {
  font-weight: 500;
  font-size: 16px;
  color: #666;
  max-width: 370px;
  line-height: 1.2;
  margin: 0 auto 30px;

  @media (min-width: 768px) {
    max-width: 376px;
    font-size: 18px;
    margin: 0 0 50px;
  }

  @media (min-width: 1200px) {
    font-size: 16px;
    min-width: 400px;
    line-height: 1.4;
    margin: 0 0 33px;
  }
}

.button__box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media (min-width: 375px) {
    gap: 40px;
  }

  @media (min-width: 768px) {
    justify-content: flex-start;
  }
}

.hero__button {
  border-radius: 40px;
  padding: 12px 42px;
  background-color: $colorTitleOrange;
  font-weight: 600;
  font-size: 16px;
  color: $colorWhite;
  transition: background-color 0.3s linear;

  &:hover,
  &:focus {
    background-color: #bb3500;
  }

  @media (min-width: 768px) {
    padding: 18px 48px;
  }
}

.hero__links {
  display: flex;
  align-items: center;
  gap: 20px;

  @media (min-width: 375px) {
    gap: 28px;
  }
}

.icon__app {
  fill: #b2b2b2;
}

.hero__image {
  display: block;
  margin: 30px auto 0;
  max-width: 320px;

  @media (min-width: 768px) {
    margin: 0;
  }
  @media (min-width: 868px) {
    max-width: 420px;
  }
  @media (min-width: 968px) {
    max-width: 520px;
  }
  @media (min-width: 1200px) {
    max-width: 602px;
    margin-top: -235px;
  }
}
