.reviews {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.reviews__block {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.reviews__text {
  font-size: 24px;
  line-height: 140%;
  color: $colorText;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    line-height: 160%;
    margin-bottom: 56px;
  }
}

.reviews__name {
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  color: $colorBlack;
  margin-bottom: 8px;
}

.reviews__profession {
  font-weight: 500;
  // font-size: 18px;
  line-height: 160%;
  letter-spacing: 0.08em;
  color: $colorGray;
}

@media (min-width: 768px) {
  .reviews__image::before {
    content: "";
    position: absolute;
    top: 12%;
    left: 0;
    width: 244px;
    height: 227px;
    border-radius: 40px 0 400px 400px;
    background: $colorTitleOrange;
    transform: rotate(-8deg);
    background-image: url("../../images/reviews/reviews-decor.png");
    background-repeat: no-repeat;
  }
}

.reviews-img {
  display: block;
  width: 260px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
