#scrollToTop {
  position: fixed;
  bottom: 40px;
  left: 75%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  opacity: 0.6;
}

.scrollup {
  fill: $colorTitleOrange;
  transition: fill 0.3 linear;
}


