#scrollToTop {
  position: fixed;
  bottom: 40px;
  left: 75%;
  border-radius: 50%;
  cursor: pointer;
  z-index: 5;
  opacity: 0.6;

  @media (min-width: 768px) {
    left: 90%;
  }
}

.scrollup {
  fill: $colorTitleOrange;
}


