.store {
  padding-bottom: 50px;
  margin: 0 auto;
}

.store__title {
  margin-bottom: 36px;

  @media (min-width: 768px) {
    margin-bottom: 50px;
  }
  @media (min-width: 1200px) {
    margin-bottom: 86px;
  }
}

.store__swiper-slide {
  width: 290px;
  height: 260px;
  margin: 0 auto;

  @media (min-width: 768px) {
    height: 305px;
  }
}

.store__card-title {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.08em;
  margin-bottom: 24px;
}

.store__img {
  margin-bottom: 40px;
  // height: 151px;
}

.store__card-name {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 7px;
}

.store__card-price {
  font-size: 14px;
  color: $colorText;
}
